:root {
    --nm: yellowgreen;
    --hv: cadetblue;
}

.big-container {
    width: 200vw;
    height: 200vh;
    display: flex;

    justify-content: space-between;
    justify-content: space-around;

}

.box1 {
    width: 100px;
    height: 100px;
    background-color: var(--nm)
}

.container {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.box1:hover {
    background-color: var(--hv);
}