:root {
    --nm: yellowgreen;
    --hv: cadetblue;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: var(--nm);

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 15px;
    background-color: beige;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: var(--hv);
}

.container {
    display: flex;
    flex-direction: row;
    align-content: space-around;


    gap: 15px;
    background-color: beige;

}

.box1:hover {
    background-color: var(--hv);
}

.box2:hover {
    background-color: var(--nm);
}